{{>header}}
    <div class="main-content">
        <a target="_blank" href="/img/khalid.png">
            <img class="portrait" src="/img/khalid.png"  alt="Profile"> 
        </a>
        <p>Use this site to know current weather condition of the your location.</p>
    </div>
{{>footer}}
    
