{{>header}}
    <div class="main-content">
        <form>
            <label>Email:- <a href="mailto:khalidn06@gmail.com">khalidn06@gmail.com</a></label><br><br>
            <label>Mobile:- +91 9069536957</label><br><br>
            <label>Address:- A-507 3rd floor, New ashok nagar, 110096 New Delhi, India.</label><br><br>
            <label>Linkedin:- <a target="_blank" href="https://www.linkedin.com/in/khalid-naseer-51918983/">Click here</a></label><br><br>
            <label>Github:- <a target="_blank" href="https://github.com/Khalid12345678">Click here</a></label>
        </form>
    </div>
{{>footer}}
    
