{{>header}}
    <div class="main-content">
        <form>
            <input type="text"  id="search" name="search" placeholder="Enter your location..">
            <button type="submit" class="button">Search</button>
            <p id="desc"></p>
            <p id="error"></p>
            <h4 id="weather_info"></h4>
            <img id="weather-img" src="">
        </form>
    </div>
{{>footer}}
    
