    <footer>
        <p>Reach out:
            <a href="mailto:khalidn06@gmail.com">khalidn06@gmail.com</a>
        </p>
        <p>Copyright &copy; {{name}}</p>
    </footer>
    <script src="/js/index.js"></script>
</body>
</html>
 