<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>Current | Weather</title>
    </head>
    <body>
        <header>
            <h1>{{title}}</h1>
            <a href="/">Weather</a>
            <a href="/about-us">About Us</a>
            <a href="/contact-us">Contact Us</a>
        </header>
        